# do not include configuration files in the repo
*.env
# but include the public configuration
!public-prod.env
!public-test.env

#notebook checkpoints
.ipynb_checkpoints/

# usual python stuff
__pycache__/

# ignore IDE stuff
.idea/